*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav_1{
    width: 100%;
    background-color: #303952;
    height: 50px;
    display: flex;
}


.ul_parent{
    display:flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: white;
}


.child_1{
    margin-left: 50px;
}


.child_2{
    margin-right: 50px;
}


ul{
    list-style-type: none;
}


a{
    text-decoration: none;
}

.nav_2 .container{
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
    width: 100%;
    color: #303952;
}

.nav_2 ul li{
    display: inline-block;
    color: #303952;
}

.nav_2 ul li a{
    color:#303952;
    padding: 10px;
    font-size: 20px;
}


.nav_2 ul li a:hover{
    border: 1px dotted lightslategrey;
    border-radius: 20px;
}


.dropdown{
    /* background-color: #303952; */
    position: absolute;
    top: 180px;
    width: 300px;
    border: 1px solid lightslategray;
    border-radius: 5px;
    color: lightslategray;
    visibility: visible;
    opacity: 1;
    box-shadow: 2px 2px 10px gray;
    left: 150px;
}


.nav_2 .parent:hover .dropdown{
    visibility: visible;
    opacity: 1;
}


.dropdown li{
    width: 100%;
}

.dropdown li a{
    width: 100%;
    color: lightslategray;
    display: block;
}

.dropdown li:hover{
    background-color: lightslategray;
    color: white;
}


.dropdown li a:hover{
    background-color: lightslategray;
    color: white;
}
.parent{
    position: relative;
}